<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detais</ion-title>
  </ion-navbar>
</ion-header>


<ion-spinner name="circles" *ngIf="items == 0"></ion-spinner>
<ion-content padding *ngIf="items != 0">

<div padding>
  <ion-item *ngFor="let item of items">
    <h2>{{item.data.title}}</h2>
    <ion-icon name="thumbs-up" item-right></ion-icon>
    <p item-right>{{item.data.score}}</p>

  </ion-item>
  <ion-thumbnail>
    <img src="assets/img/contempo102png.png">
  </ion-thumbnail>
  <ion-item *ngFor="let item of items">
  <ion-icon name="text" item-right color="secondary"></ion-icon>
  <div item-right>{{item.data.num_comments}}</div>
  <p item-left>{{item.data.author}}</p>

  </ion-item>
</div>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
